<footer class="ctn-footer-plus text-center text-white" style="background-color: rgb(59, 118, 240);">
  <!-- Copyright -->
  <div class="ctn-footer-plus text-center p-6" style="background-color: rgb(59, 118, 240); height: 4rem;">
    © 2020 Copyright:
    <a class="text-white" href="https://github.com/juanequex"> Juanequex</a>
  </div>
  <!-- Copyright -->
</footer>
